<!DOCTYPE html>
<html>
  <head>
    <title>My contact</title>

    <style></style>
  </head>
  <body>
    <div class="header">This is my header</div>
    <div class="menu">
      <a href="homepage.html">Home</a><br />
      <a href="aboutpage.html">About</a><br />
      <a href="contactpage.html">Contact</a><br />
    </div>
    <div class="content">
      <h1>Here's how you can contact me!</h1>
      <ul>
        <li>Phone: xxxx-xxxx-xxxx</li>
        <li>Email: sample@example.com</li>
      </ul>
    </div>
    <div class="footer"></div>
  </body>
</html>
